option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "open_journal.settings"
    "PYTHONPATH": "/Users/michaeltamaki/Programming/open_journal"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: open_journal/open_journal/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"