{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'base/base.css' %}" />
	<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/base/favicon.ico"/>
</head>
<body>
	<header>
		<h1><a class="header-text" href="{% url 'write' %}">Open Journal</a></h1>
	</header>
	<main>
		{% if user and not user.is_anonymous %}
			<div class="account">
				<p>{{ user.username }}</p>
				<a href="{% url 'auth:logout' %}?next={{ request.path }}">Log Out</a>
			</div>
			{% block content %}
			{% endblock %}
		{% else %}
			<a class="facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
				Log in with Facebook
			</a>
		{% endif %}
	</main>
</body>
</html>