{% load static %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'journal/style.css' %}" />
	<style>
		.facebook {
			background-color: #3b5998;
			color: white;
			padding: 10px;
			text-decoration: none;
		}
	</style>
</head>
<body>
	<header>
		<h1 class="header-text"><a href="{% url 'write' %}">Open Journal</a></h1>
	</header>
	{% if user and not user.is_anonymous %}
		<p>Welcome, {{ user.get_full_name }}</p>
		<a href="{% url 'auth:logout' %}?next={{ request.path }}">Log Out</a>
		{% block content %}
		{% endblock %}
	{% else %}
		<a class="facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">
			Log in with Facebook
		</a>
	{% endif %}
</body>
</html>