{% extends 'base/base.html' %}

{% block content %}
	{% if complete %}
		<h2 class="success">Journal Entry Successfully submitted!</h2>
	{% endif %}
	<form action="/" method="post">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <input id="submit" type="submit" value="Submit" />
	</form>
	{% if journal %}
		<h2>Journal Entries</h2>
		<ol>
			{% for entry in journal %}
				<li><a href="{% url 'detail' entry.pk %}">{{ entry.title }}</a> <small>{{ entry.pub_date }}</small> by {{ entry.writer.first_name }}</li>
			{% endfor %}
		</ol>
	{% endif %}
{% endblock%}